*{
    padding: 0;
    margin: 0;
}
body{
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
}
.menu_bord{
    text-align: center;
}
.menu_item {
    display: inline-block;
    padding: 26px 36px;
}
.menu_item_link {
    text-decoration: none;
    color: #FF0000;
    text-transform: uppercase;
    width: 68px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
}
.main_photo {
    width: 1280px;
    height: 789px;
}
.main_title {
    text-align: center;
    padding: 48px 0 10px;
    text-transform: uppercase;
    color: #373737;
    letter-spacing: 3.3px;
}
.main_info{
    width: 1280px;
    height: 650px;
}
.first_main_info{
    text-align: center;
    padding: 28px 68px 14px;
    font-weight: 400;
    font-size: 16px;
    width: 1145px;
    color: #373737;
    letter-spacing: 2.4px;
}
.second_main_info{
    text-align: center;
        padding: 14px 68px 28px;
        font-weight: 400;
        font-size: 16px;
        width: 1145px;
        color: #373737;
        letter-spacing: 2.4px
}
.main_button{
    display: block;
    margin: 0 auto;
    width: 191px;
    height: 51px;
    text-transform: uppercase;
    background-color: #FF0000;
    color: white;
    border-radius: 4px;
    border: 0px;
    margin-top: 40px;
    letter-spacing: 1.8px;
}
.additional_text{
    display: block;
    width: 462px;
    font-weight: 700;
    font-size: 16px;
    color: #373737;
    padding: 40px 0px 30px 713px;
    letter-spacing: 2.4px;
}
/*
wow
*/
